﻿<div class="bs-example" data-example-id="thumbnails-with-custom-content">
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#pending" id="pending-tab" role="tab" data-toggle="tab" aria-controls="pending" aria-expanded="true">Pending</a></li>
        <li role="presentation" class=""><a href="#inprocess" role="tab" id="inprocess-tab" data-toggle="tab" aria-controls="inprocess" aria-expanded="false">In Process</a></li>
        <li role="presentation" class=""><a href="#completed" role="tab" id="completed-tab" data-toggle="tab" aria-controls="completed" aria-expanded="false">Completed</a></li>
        <li role="presentation" class=""><a href="#delivered" role="tab" id="delivered-tab" data-toggle="tab" aria-controls="delivered" aria-expanded="false">Delivered</a></li>
        <li role="presentation" class=""><a href="#canceled" role="tab" id="canceled-tab" data-toggle="tab" aria-controls="canceled" aria-expanded="false">Canceled</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="pending" aria-labelledby="pending-tab">
            <div class="row">
                @*<div class="col-sm-6 col-md-4" style="order:1">
                    <div class="thumbnail">
                        <div class="caption">
                            <span>Order #000001</span><span class="label label-default" style="float:right;">In Process</span>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-md-7">
                                    <span>PRODUCTS</span>
                                    <hr style="margin-top: 1px;">
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td>Producto test</td>
                                                <td>1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-6 col-md-5" style="text-align: right;min-height: 100px;">
                                    <button type="button" class="btn btn-default btn-sm" style="width: 100px;">
                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> In Progress
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" style="right: 15px;width: 100px;bottom: 0px;position: absolute;">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@               
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="inprocess" aria-labelledby="inprocess-tab">
            <div class="row">                
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="completed" aria-labelledby="completed-tab">
            <div class="row">
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="delivered" aria-labelledby="delivered-tab">
            <div class="row">

            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="canceled" aria-labelledby="canceled-tab">
            <div class="row">
            </div>
        </div>
    </div>
</div>
